OmniStudioForISVs/ExportForOmniComponents - ISV/force-app/main/default/flows/Import_Omni_Components_OmniDataTransformation_and_OmniDataTransformationItems.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Import_OmniDataTransformItems</name>
        <label>Import OmniDataTransformItems</label>
        <locationX>176</locationX>
        <locationY>1706</locationY>
        <actionName>ConvertCSVToRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_DataTransformationsItems</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__convertedCSVRows</typeName>
            <typeValue>OmniDataTransformItem</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>OmniDataTransformItem</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StaticResourceName</name>
            <value>
                <stringValue>OmniDataTransformationsItems</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ImportOmniDataTransformationwithIDS</name>
        <label>Import OmniDataTransformation with IDs</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>ConvertCSVToRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Clean_Ids_before_Insert</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__convertedCSVRows</typeName>
            <typeValue>OmniDataTransform</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>OmniDataTransform</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StaticResourceName</name>
            <value>
                <stringValue>OmniDataTransformations</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add</name>
        <label>Add to List of IDs</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ListOldToNewOmniTransformations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleMapOldToNewTransformationID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ID_to_Null_before_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Element_to_TransformationItems</name>
        <label>Add Element to TransformationItems</label>
        <locationX>704</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>OmniDataTransformationsItemsToBeInserted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_DataTransformationsItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Map_of_IDs2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_ID_as_DataTransformationItem_Parent</name>
        <label>Assign New ID as DataTransformationItem Parent</label>
        <locationX>704</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_DataTransformationsItems.OmniDataTransformationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Map_of_IDs2.NewID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Element_to_TransformationItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_New_Id_to_Map</name>
        <label>Save New Id to Map</label>
        <locationX>440</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>SingleMapOldToNewTransformationID.NewID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Inserted_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMapOldToNewTransformationID.OldId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Map_of_Ids.OldId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_IDs_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_OmniTransformationOld_Id</name>
        <label>Save OmniTransformationOld Id</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>SingleMapOldToNewTransformationID.OldId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clean_Ids_before_Insert.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ID_to_Null_before_Insert</name>
        <label>Set ID to Null before Insert</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Clean_Ids_before_Insert.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaNull</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clean_Ids_before_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_IDs_List</name>
        <label>Update IDs List</label>
        <locationX>440</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>ListWithNewIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleMapOldToNewTransformationID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_through_Inserted_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_OmniDataTransformationId_Matches_Old_Ids_from_List_Ids</name>
        <label>Check If OmniDataTransformationId Matches Old Ids from List Ids</label>
        <locationX>836</locationX>
        <locationY>2066</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Map_of_IDs2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>OmniDataTransformationItem_OmniDataTransformationId_Old_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_DataTransformationsItems.OmniDataTransformationId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_Map_of_IDs2.OldId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_ID_as_DataTransformationItem_Parent</targetReference>
            </connector>
            <label>OmniDataTransformationItem.OmniDataTransformationId == Old Id</label>
        </rules>
    </decisions>
    <formulas>
        <description>Formula for Null</description>
        <name>FormulaNull</name>
        <dataType>Date</dataType>
        <expression>NULL</expression>
    </formulas>
    <interviewLabel>Import Omni Components - OmniDataTransformation and OmniDataTransformationItems {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Import Omni Components - OmniDataTransformation and OmniDataTransformationItems</label>
    <loops>
        <name>Clean_Ids_before_Insert</name>
        <label>Clean Ids before Insert</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>ImportOmniDataTransformationwithIDS.convertedCSVRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Save_OmniTransformationOld_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Omni_Data_Transformations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_DataTransformationsItems</name>
        <label>Loop through DataTransformationsItems</label>
        <locationX>176</locationX>
        <locationY>1826</locationY>
        <collectionReference>Import_OmniDataTransformItems.convertedCSVRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_through_Map_of_IDs2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records_for_OmniDataTransformationItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Inserted_Records</name>
        <label>Loop through Inserted Records</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <collectionReference>ImportOmniDataTransformationwithIDS.convertedCSVRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Through_Map_of_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Import_OmniDataTransformItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Map_of_Ids</name>
        <label>Loop Through Map of Ids</label>
        <locationX>352</locationX>
        <locationY>1094</locationY>
        <collectionReference>ListOldToNewOmniTransformations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Save_New_Id_to_Map</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Inserted_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Map_of_IDs2</name>
        <label>Loop through Map of IDs</label>
        <locationX>616</locationX>
        <locationY>1946</locationY>
        <collectionReference>ListWithNewIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_OmniDataTransformationId_Matches_Old_Ids_from_List_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_DataTransformationsItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records_for_OmniDataTransformationItems</name>
        <label>Create Records for OmniDataTransformationItems</label>
        <locationX>176</locationX>
        <locationY>2714</locationY>
        <inputReference>OmniDataTransformationsItemsToBeInserted</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Omni_Data_Transformations</name>
        <label>Insert Omni Data Transformations</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Loop_through_Inserted_Records</targetReference>
        </connector>
        <inputReference>ImportOmniDataTransformationwithIDS.convertedCSVRows</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ImportOmniDataTransformationwithIDS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ListOldToNewOmniTransformations</name>
        <apexClass>OmniPackaging__MapOmniProcessOldIDtoNewID</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListWithNewIDs</name>
        <apexClass>OmniPackaging__MapOmniProcessOldIDtoNewID</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OmniDataTransformationsItemsToBeInserted</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OmniDataTransformItem</objectType>
    </variables>
    <variables>
        <name>SingleMapOldToNewTransformationID</name>
        <apexClass>OmniPackaging__MapOmniProcessOldIDtoNewID</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
