OmniStudioForISVs/ExportForOmniComponents - ISV/force-app/main/default/flows/Insert_Records_for_OmniProcessElements.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Import_OmniProcess_from_CSV</name>
        <label>Import OmniProcess from CSV withI IDs</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>ConvertCSVToRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Clean_Ids</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__convertedCSVRows</typeName>
            <typeValue>OmniProcess</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>OmniProcess</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StaticResourceName</name>
            <value>
                <stringValue>OmniProcesses</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Import_Process_Elements_from_CSV</name>
        <label>Import Process Elements from CSV</label>
        <locationX>176</locationX>
        <locationY>1706</locationY>
        <actionName>ConvertCSVToRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_ProcessElements</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__convertedCSVRows</typeName>
            <typeValue>OmniProcessElement</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>OmniProcessElement</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StaticResourceName</name>
            <value>
                <stringValue>OmniProcessElements</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Element_to_OmniProcessElements</name>
        <label>Add Element to OmniProcessElements</label>
        <locationX>704</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>OmniProcessElementToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_ProcessElements</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Map_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List_of_Ids</name>
        <label>Add to List of Ids</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ListOldToNewOmniProcessIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOldToNewProcessId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ID_to_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_ID_as_OmniProcesseElement_OmniProcess_Parent</name>
        <label>Assign New ID as OmniProcesseElement OmniProcess Parent</label>
        <locationX>704</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_ProcessElements.OmniProcessId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Map_Ids.NewID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Element_to_OmniProcessElements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_New_Id</name>
        <label>Save New Id</label>
        <locationX>440</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>SingleOldToNewProcessId.NewID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Inserted_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOldToNewProcessId.OldId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>List_Of_IDS.OldId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_IDs_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_OmniProcess_OldID</name>
        <label>Save OmniProcess OldID</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>SingleOldToNewProcessId.OldId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clean_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List_of_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ID_to_Null</name>
        <label>Set ID to Null before Insert</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Clean_Ids.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaNull</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clean_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Remove the first element on the list which only contains the old ID and add a new element to the end of the list with old a new Id</description>
        <name>Update_IDs_List</name>
        <label>Update IDs List</label>
        <locationX>440</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>ListIdsWithNewIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOldToNewProcessId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Inserted_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_OmniParent</name>
        <label>Check If OmniProcessId Matches Old Ids from List Ids</label>
        <locationX>836</locationX>
        <locationY>2066</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Map_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>OmniProcessElement_OmniProcessId_Old_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_ProcessElements.OmniProcessId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Through_Map_Ids.OldId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_ID_as_OmniProcesseElement_OmniProcess_Parent</targetReference>
            </connector>
            <label>OmniProcessElement.OmniProcessId == Old Id</label>
        </rules>
    </decisions>
    <formulas>
        <name>FormulaNull</name>
        <dataType>Date</dataType>
        <expression>NULL</expression>
    </formulas>
    <interviewLabel>Insert Records for OmniProcessElements {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Import Omni Components - OmniProcess and OmniProcessElements</label>
    <loops>
        <name>Clean_Ids</name>
        <label>Clean Ids before insert</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Import_OmniProcess_from_CSV.convertedCSVRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Save_OmniProcess_OldID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_OmniProcesses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>List_Of_IDS</name>
        <label>List Of IDS</label>
        <locationX>352</locationX>
        <locationY>1094</locationY>
        <collectionReference>ListOldToNewOmniProcessIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Save_New_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Inserted_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Inserted_Records</name>
        <label>Loop Inserted Records</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <collectionReference>Import_OmniProcess_from_CSV.convertedCSVRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>List_Of_IDS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Import_Process_Elements_from_CSV</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Map_Ids</name>
        <label>Loop Through of List Old and New IDs</label>
        <locationX>616</locationX>
        <locationY>1946</locationY>
        <collectionReference>ListIdsWithNewIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_OmniParent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_ProcessElements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_ProcessElements</name>
        <label>Loop through ProcessElements</label>
        <locationX>176</locationX>
        <locationY>1826</locationY>
        <collectionReference>Import_Process_Elements_from_CSV.convertedCSVRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Through_Map_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records_for_ProcessElements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records_for_ProcessElements</name>
        <label>Create Records for ProcessElements</label>
        <locationX>176</locationX>
        <locationY>2714</locationY>
        <inputReference>OmniProcessElementToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_OmniProcesses</name>
        <label>Insert OmniProcesses</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Loop_Inserted_Records</targetReference>
        </connector>
        <inputReference>Import_OmniProcess_from_CSV.convertedCSVRows</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Import_OmniProcess_from_CSV</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Orphan_Process_Elements_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OmniProcessElement</objectType>
    </variables>
    <variables>
        <name>ListIdsWithNewIDs</name>
        <apexClass>OmniPackaging__MapOmniProcessOldIDtoNewID</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListOldToNewOmniProcessIDs</name>
        <apexClass>OmniPackaging__MapOmniProcessOldIDtoNewID</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NeverHappens</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OmniProcessElementToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OmniProcessElement</objectType>
    </variables>
    <variables>
        <name>Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleOldToNewProcessId</name>
        <apexClass>OmniPackaging__MapOmniProcessOldIDtoNewID</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
